section.director 
    .container 
        .director-card
            p.name Николай Плешаков
            p.post Технический директор
        .descr
            h2 Появились вопросы по качеству?
            h3 На 99% всё зависит от профессионализма коллектива
            p Внедряем умные решения для ремонта, продумывая каждую мелочь наперед. Это позволяет заказчику экономить деньги, время и нервы. За 6 лет работы мы собрали мастеров с “золотыми руками” со всей Москвы, только так можно делать ремонт хорошо.
            p По вопросам качества Вы всегда можете обратиться ко мне лично:
            .contacts
                a(href="tel:+79081234567").btn +7 908 123-45-67 
                a.mail(href="mailto:dir@rsk-modus.ru") DIR@RSK-MODUS.RU 
            .social 
                p ИЛИ В СОЦ. СЕТЯХ:
                a.facebook(href="") 
                a.instagram(href="") 
                a.vk(href="") 