footer 
    .container 
        .logo-contacts 
            a(href="index.html").logo
                img(src="../assets/images/logo.png", alt="")
            a.phone(href="tel:84951911029") 8(495) 191-10-29
            a.mail(href="mailto:sales@rsk-modus.ru") SALES@RSK-MODUS.RU
        .nav-footer
            ul 
                li 
                    a(href="") Услуги
                li 
                    a(href="aboutTheCompany.html") О компании
                li 
                    a(href="ourWorks.html") Наши работы
                li 
                    a(href="information.html") Полезная информация
                li 
                    a(href="") Организациям
                li 
                    a(href="vacancies.html") Вакансии
                li 
                    a(href="contacts.html") Контакты
        .time-social 
            .time 
                span.time-text с 7:00 до 0:00, без выходных
                span в Москве и Московской области
            .social
                a.facebook(href="") 
                a.instagram(href="") 
                a.vk(href="")
        .connection-copyright 
            a.btn связаться с нами
            p Copyrigth 2021 - все права защищены. Копирование информации без указания источника преследуется законом
            a.policy(href="") Политика конфиденциальности 