include mixins.pug
header 
    .container
        +BtnMenu()
        a(href="index.html").logo
            img(src="../assets/images/logo.png", alt="")
        .work-schedule
            span.time с 7:00 до 0:00. без выходных
            span.location в Москве и Московской области
        a(href="tel:84951911029").phone 8(495) 191-10-29
        +BtnContactUs()