mixin Card(imgPath, title, text, date)
    .card-information
        img(src= imgPath, alt="")
        .descr 
            h3= title 
            p= text 
            p.date= date

section.information 
    .container 
        h2 Полезная информация
        +Card("../assets/images/Information1.png", "Заголовок новой новости", "Первая галерея в формате store создана совместно с партнёрами из Германии. Она объединила в себе премиальное оформление и новые решения для презентации коллекции.", "11 октября 2021")
        .separator
        +Card("../assets/images/Information1.png", "Заголовок новой новости", "Первая галерея в формате store создана совместно с партнёрами из Германии. Она объединила в себе премиальное оформление и новые решения для презентации коллекции.", "11 октября 2021")
        .separator
        +Card("../assets/images/Information1.png", "Заголовок новой новости", "Первая галерея в формате store создана совместно с партнёрами из Германии. Она объединила в себе премиальное оформление и новые решения для презентации коллекции.", "11 октября 2021")
        .separator
        a.btn все новости