mixin Card(title, text)
    .card-modus-rsk 
        img(src= "../assets/images/icons/ModusRskBlockIcon.png", alt="")
        h3= title 
        p= text

section.modus-rsk 
    .container 
        .descr 
            h2 MODUS RSK.
            p Компания “Modus RSK” предоставляет услуги с 2005 года. За более чем 10 лет работы мы заняли одну из лидирующих позиций на рынке ремонта и сервисного обслуживания пластиковых, деревянных и алюминиевых оконных конструкций. Секрет нашей успешной работы в том, что мы поставили услуги по ремонту окон “на колеса” - 30 мобильных бригад ежедневно обслуживают клиентов по всей Москве и Московской области.
        .cards
            +Card("Качество", "Только качественный ремонт или замена всех модульных частей окна")
            +Card("Оперативность", "Выполнение всех работ в удобное для вас время и точно оговоренный срок")
            +Card("Гарантия", "Заключаем договор на оказание услуг, где прозрачно прописаны все наши обязательства")
            +Card("Любая сложность", "Профессиональный ремонт и регулировка всех типов окон")
