section.nav 
    .container 
        button.btnCloseMenu
        ul 
            li 
                a Услуги
            li 
                a(href="aboutTheCompany.html")  О компании
            li 
                a(href="ourWorks.html") Наши работы
            li 
                a(href="information.html") Полезная информация
            li 
                a Организациям
            li 
                a(href="vacancies.html") Вакансии
            li 
                a(href="contacts.html")  Контакты
        .work-schedule
            span.time с 7:00 до 0:00. без выходных
            span.location в Москве и Московской области

        