section.nav 
    .container 
        button.btnCloseMenu
        ul 
            li 
                a Услуги
            li 
                a О компании
            li 
                a Наши работы
            li 
                a Полезная информация
            li 
                a Организациям
            li 
                a Вакансии
            li 
                a Контакты
        