section.recommendations
    .container 
        .descr 
            h2 Нас рекомендуют
            p Мы стремится развивать долгосрочные взаимовыгодные отношения — как с заказчиками, так и с поставщиками услуг.
            p Для организаций мы предлагаем возможность заказать выполнение работ на обслуживание оконных и дверных конструкций с оплатой по безналичному расчету: единоразово или годовой договор на обслуживание. 
        .carousel
            .owl-carousel.carousel-recommendations
                .carousel-item 
                    img(src="../assets/images/Stroitech.png", alt="")
                .carousel-item 
                    img(src="../assets/images/Stroitech.png", alt="")
            .btns
                button.btn-prev.btn-carousel-recommendations
                ul.owl-dots-custom-recommendations
                    li.slide1-recommendations.active(data="0-recommendations")
                    li.slide2-recommendations(data="1-recommendations")
                button.btn-next.btn-carousel-recommendations