section.reviews 
    .container 
        h2 +100 положительных отзывов в Яндексе
        h3 У нас безупречная репутация
        .content 
            .revs 
            .videos 
                .video
                .video
                .video
        a.btn больше отзывов