section.work-with-us 
    .container 
        h2 Почему нужно работать с нами?
        .cards 
            .left 
                .card
                    img(src="../assets/images/Contract.png", alt="")
                    h3 Работаем по договору
                    p Краткое описание услуги. Краткое описание услуги. Краткое описание услуги. Краткое описание услуги.
                    a.btn написать нам
                .card
                    img(src="../assets/images/OriginalAccessories.png", alt="")
                    h3 Оригинальные комплектующие
                    p Краткое описание услуги. Краткое описание услуги. Краткое описание услуги. Краткое описание услуги.
                    a.btn написать нам
            .right 
                p.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                .card
                    img(src="../assets/images/FixPrice.png", alt="")
                    h3 Фиксированные цены
                    p Краткое описание услуги. Краткое описание услуги. Краткое описание услуги. Краткое описание услуги.
                    a.btn написать нам
                p.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
