include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MODUS RSK
        include pug/head.pug
    body
        include pug/header.pug
        include pug/nav.pug
        include pug/maintenanceAndRepair.pug
        include pug/statistics.pug
        include pug/services.pug

        include pug/scripts.pug