include pug/mixins.pug

mixin Number(num, text)
    .number 
        p.count= num 
        p.object= text

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MODUS RSK
        include pug/head.pug
    body
        include pug/header.pug
        include pug/nav.pug
        
        section.title-works(style="background-image: url(../assets/images/BackgroundOurWorks.jpg);")
            .container
                +BreadCrumbs("Наши работы")
                h1 наши работы
            include pug/statistics.pug

        section.works 
            .container
                .btns.btn__switch__wrapper
                    button.btn__tab__switch(target="photo-works").active Фото
                    button.btn__tab__switch(target="video-vorks") Видео
                .tab__viewer
                    .tab(tab-name="photo-works").active.photo
                        +PhotoWorkCard("../assets/images/WorksPhoto.png", "Ремонт 10 окон в коттедже", "Заменили профиль, стеклопакет и фурнитуру")
                        +PhotoWorkCard("../assets/images/WorksPhoto.png", "Ремонт 10 окон в коттедже", "Заменили профиль, стеклопакет и фурнитуру")
                        +PhotoWorkCard("../assets/images/WorksPhoto.png", "Ремонт 10 окон в коттедже", "Заменили профиль, стеклопакет и фурнитуру")
                        +PhotoWorkCard("../assets/images/WorksPhoto.png", "Ремонт 10 окон в коттедже", "Заменили профиль, стеклопакет и фурнитуру")
                        +PhotoWorkCard("../assets/images/WorksPhoto.png", "Ремонт 10 окон в коттедже", "Заменили профиль, стеклопакет и фурнитуру")
                        +PhotoWorkCard("../assets/images/WorksPhoto.png", "Ремонт 10 окон в коттедже", "Заменили профиль, стеклопакет и фурнитуру")
                    .tab(tab-name="video-vorks").videos
                        .video
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/z1_X86D34Q0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        .video
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/z1_X86D34Q0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        .video
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/z1_X86D34Q0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        .video
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/z1_X86D34Q0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        .video
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/z1_X86D34Q0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        .video
                            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/z1_X86D34Q0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        include pug/footer.pug

        include pug/scripts.pug