include pug/mixins.pug

doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title MODUS RSK
        include pug/head.pug
    body
        include pug/header.pug
        include pug/nav.pug 

        section.vacancies 
            .container 
                +BreadCrumbs("Вакансии")
                h1 Вакансии
                .btn__switch__wrapper
                    button.btn__tab__switch(target="1") Менеджер, Экономика предприятий и управление эффективностью предприятия
                    button.btn__tab__switch(target="2").active Стажер специалиста (Отдел документационного сопровождения закупок)
                    button.btn__tab__switch(target="3") Разработчик PL/SQL
                .tab__viewer
                    .tab(tab-name="1")
                        h2.subtitle.center.tab__title Менеджер, Экономика предприятий и управление эффективностью предприятия
                        .cke__wrapper
                            h2 Обязанности:
                            ul
                                li 
                                    span Проверка заявок на закупку по заданным правилам;
                                li 
                                    span Контроль своевременности устранения замечаний по заявкам, контроль сроков согласования заявок, переданных на последующие этапы;
                                li 
                                    span Ввод данных в справочники МТР и контрагентов, отражение операций в 1С, SAP в зоне ответственности (формирование разделительной ведомости и плана закупок в 1С, загрузка заявок в SAP);
                                li 
                                    span Ведение реестров заявок, подаваемых вне информационных систем, контроль сроков выполнения задач другими подразделениями, учет количества срочных заявок.
                            h2 Требования:
                            ul
                                li 
                                    span Высшее образование;
                                li 
                                    span Свободное владение ПК (MS Word, MS Excel, MS PowerPoint, MS Outlook);
                                li 
                                    span Исполнительность, ответственность, аккуратность, внимательность, усидчивость;
                                li 
                                    span Опыт работы не обязателен.
                            h2 Условия:
                            ul
                                li 
                                    span Премии по результатам работы.
                                li 
                                    span Срочный ТД на 3 месяца с возможностью продления по результатам работы на более длительный срок. Работа в крупнейшем нефтехимическом холдинге Восточной Европы;
                                li 
                                    span Добровольное медицинское страхование по итогу прохождения стажировки;
                                li 
                                    span Оформление по ТК РФ;
                                li 
                                    span Комфортные условия труда (современный офис класса А, организованное место для питания в офисе, высокотехнологично оборудованное рабочее место);
                                li 
                                    span Программа ввода в должность, наставничество под руководством опытного сотрудника; Возможность профессионального развития и обучения;
                                li 
                                    span Возможность карьерного роста;
                                li 
                                    span Молодой, дружный коллектив;
                                li 
                                    span Возможность проявить себя в жизни компании (пропаганда здорового образа жизни, тренировки для сотрудников, молодежный совет, корпоративные праздники).
                    .tab.active(tab-name="2")
                        h2.subtitle.center.tab__title Стажер специалиста (Отдел документационного сопровождения закупок)
                        .cke__wrapper
                            h2 Обязанности:
                            ul
                                li 
                                    span Проверка заявок на закупку по заданным правилам;
                                li 
                                    span Контроль своевременности устранения замечаний по заявкам, контроль сроков согласования заявок, переданных на последующие этапы;
                                li 
                                    span Ввод данных в справочники МТР и контрагентов, отражение операций в 1С, SAP в зоне ответственности (формирование разделительной ведомости и плана закупок в 1С, загрузка заявок в SAP);
                                li 
                                    span Ведение реестров заявок, подаваемых вне информационных систем, контроль сроков выполнения задач другими подразделениями, учет количества срочных заявок.
                            h2 Требования:
                            ul
                                li 
                                    span Высшее образование;
                                li 
                                    span Свободное владение ПК (MS Word, MS Excel, MS PowerPoint, MS Outlook);
                                li 
                                    span Исполнительность, ответственность, аккуратность, внимательность, усидчивость;
                                li 
                                    span Опыт работы не обязателен.
                            h2 Условия:
                            ul
                                li 
                                    span Премии по результатам работы.
                                li 
                                    span Срочный ТД на 3 месяца с возможностью продления по результатам работы на более длительный срок. Работа в крупнейшем нефтехимическом холдинге Восточной Европы;
                                li 
                                    span Добровольное медицинское страхование по итогу прохождения стажировки;
                                li 
                                    span Оформление по ТК РФ;
                                li 
                                    span Комфортные условия труда (современный офис класса А, организованное место для питания в офисе, высокотехнологично оборудованное рабочее место);
                                li 
                                    span Программа ввода в должность, наставничество под руководством опытного сотрудника; Возможность профессионального развития и обучения;
                                li 
                                    span Возможность карьерного роста;
                                li 
                                    span Молодой, дружный коллектив;
                                li 
                                    span Возможность проявить себя в жизни компании (пропаганда здорового образа жизни, тренировки для сотрудников, молодежный совет, корпоративные праздники).
                    .tab(tab-name="3")
                        h2.subtitle.center.tab__title Разработчик PL/SQL
                        .cke__wrapper
                            h2 Обязанности:
                            ul
                                li 
                                    span Проверка заявок на закупку по заданным правилам;
                                li 
                                    span Контроль своевременности устранения замечаний по заявкам, контроль сроков согласования заявок, переданных на последующие этапы;
                                li 
                                    span Ввод данных в справочники МТР и контрагентов, отражение операций в 1С, SAP в зоне ответственности (формирование разделительной ведомости и плана закупок в 1С, загрузка заявок в SAP);
                                li 
                                    span Ведение реестров заявок, подаваемых вне информационных систем, контроль сроков выполнения задач другими подразделениями, учет количества срочных заявок.
                            h2 Требования:
                            ul
                                li 
                                    span Высшее образование;
                                li 
                                    span Свободное владение ПК (MS Word, MS Excel, MS PowerPoint, MS Outlook);
                                li 
                                    span Исполнительность, ответственность, аккуратность, внимательность, усидчивость;
                                li 
                                    span Опыт работы не обязателен.
                            h2 Условия:
                            ul
                                li 
                                    span Премии по результатам работы.
                                li 
                                    span Срочный ТД на 3 месяца с возможностью продления по результатам работы на более длительный срок. Работа в крупнейшем нефтехимическом холдинге Восточной Европы;
                                li 
                                    span Добровольное медицинское страхование по итогу прохождения стажировки;
                                li 
                                    span Оформление по ТК РФ;
                                li 
                                    span Комфортные условия труда (современный офис класса А, организованное место для питания в офисе, высокотехнологично оборудованное рабочее место);
                                li 
                                    span Программа ввода в должность, наставничество под руководством опытного сотрудника; Возможность профессионального развития и обучения;
                                li 
                                    span Возможность карьерного роста;
                                li 
                                    span Молодой, дружный коллектив;
                                li 
                                    span Возможность проявить себя в жизни компании (пропаганда здорового образа жизни, тренировки для сотрудников, молодежный совет, корпоративные праздники).
        include pug/footer.pug
        include pug/scripts.pug