@media(max-width: 1200px)
{
    .container
    {
        max-width: 1024px;
    }

    .maintenance-and-repair{
        padding-top: 150px;
        
        .descr{
            h1{
                font-size: 46px;
            }

            .controls{
                margin-top: 10px;
            }
        }
    }

    .statistics{
        margin-top: 10px;
    }

    .reviews{
        .container{
            .content{
                .revs{
                    img{
                        width: 90%;
                    }
                }
            }
        }
    }

    .director{
        .container{
            .director-card{
                width: 50%;
            }

            .descr{
                .social{
                    margin-top: 20px;
                }
            }
        }
    }

    footer{
        .container{
            .connection-copyright{
                .btn{
                    width: max-content;
                }
            }
        }
    }

    .services{
        .container{
            .card-services{
                img{
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width: 1024px)
{
    .container
    {
        max-width: 992px;
    }

    .maintenance-and-repair{
        .descr{
            width: 60%;
            h1{
                font-size: 40px;
            }
        }
    }

    .services{
        .container{
            .nds{
                justify-content: space-between;
                .btn{
                    top: 200px;
                    height: max-content;
                }
            }
        }
    }

    footer{
        .container{
            .connection-copyright{
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: space-between;

                p{
                    width: 40%;
                }
            }
        }
    }
}

@media(max-width: 992px)
{
    .container
    {
        max-width: 768px;
    }

    header{
        .container{
            justify-content: center;

            

            .work-schedule{
                margin-left: 70px;
            }

            .phone{
                width: 50%;
                margin-top: 20px;
            }

            .btn-contact-us{
                margin-top: 20px;
            }
        }

        .btn__menu{
            display: block;
            height: 50px;
            width: 50px;
            margin-right: auto;
            position: absolute;
            top: 10px;
            left: 10px;
        }
    
        .btn__menu:before, .btn__menu:after, .btn__menu span
        {
            height: 3px;
            position: absolute;
            background: #000;
            left: 50%;
        }
    
        .btn__menu span
        {
            width: 50%;    
        }
    
        .btn__menu:before
        {
            content: "";
            width: 50%;
            top: 20px;
        }
    
        .btn__menu:after
        {
            content: "";
            width: 50%;
            top: 30px;
        }
    }

    .nav{
        top: 0;
        left: -300px;
        width: 300px;
        background-color: rgba($color: #362f2c, $alpha: 0.9);
        transition: 0.5s;

        .btnCloseMenu{
            display: block;
            position: absolute;
            top: 15px;
            right: 25px;
            background: none;
            border: none;
        }

        .btnCloseMenu:before, .btnCloseMenu:after {
            position: absolute;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: wheat;
            }
            .btnCloseMenu:before {
            transform: rotate(45deg);
            }
            .btnCloseMenu:after {
            transform: rotate(-45deg);
        }

        ul{
            flex-direction: column;
            padding-left: 20px;

            li{
                padding: 10px;
            }
        }
    }

    .showMenu{
        left: 0;
    }

    .maintenance-and-repair{
        padding-top: 170px;

        .carousel-maintenance{
            top: 100px;
        }
    }

    .statistics{
        .container{
            p{
                width: 100%;
            }
        }
    }

    .services{
        .container{
            .card-services{
                width: 100%;
                
                h2{
                    font-size: 42px;
                }
            }

            .nds{
                .light{
                    top: 0;
                    margin-top: 20px;
                }

                p{
                    top: 70px;
                }

                h2{
                    top: 60px;
                }

                .btn{
                    top: 150px;
                }
            }
        }
    }

    .reviews{
        .container{
            .content{
                .videos{
                    .video{
                        width: 400px;
                    }
                }
            }
        }
    }

    .director{
        height: auto;

        .container{
            flex-direction: column;
            align-items: center;

            .director-card{
                margin-top: 50px;
            }

            .descr{
                width: 100%;
                margin-top: 50px;

                .social{
                    bottom: 50px;
                }
            }
        }
    }

    .information{
        padding-top: 50px;

        .container{
            .card-information{
                flex-direction: column;

                img{
                    width: 100%;
                }

                .descr{
                    width: 100%;
                }
            }
        }
    }

    footer{
        .container{
            .time-social{
                width: 35%;
            }

            .connection-copyright{
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                .policy{
                    width: 20%;
                }
            }
        }
    }
}

@media(max-width: 768px)
{
    .container
    {
        max-width: 576px;
    }

    header{
        .work-schedule{
            width: 50%;
        }
    }

    .maintenance-and-repair{
        padding-top: 200px;

        .carousel-maintenance{
            top: 180px;
        }
        
        .descr{
            width: 100%;
            h1{
                font-size: 40px;
            }

            .controls{
                margin-top: 10px;
            }
        }
    }

    .services{
        .container{
            .card-services{
                h2{
                    top: 20px;
                }

                .btn{
                    height: fit-content;
                }
            }

            .window-adjustment, .glazing, .installing-handles{
                .btn{
                    top: 100px;
                }
            }

            .nds{
                .light{
                    margin-top: -10px;
                }

                h2{
                    top: 20px;
                }

                p{
                    top: 20px;
                }

                .btn{
                    top: 100px;
                }
            }
        }
    }

    .modus-rsk{
        .container{
            .descr{
                flex-direction: column;

                h2, p{
                    width: 100%;
                }
            }

            .cards{
                .card-modus-rsk{
                    width: 100%;
                }
            }
        }
    }

    .recommendations{
        .container{
            flex-direction: column;

            .descr, .carousel{
                width: 100%;
            }

            .carousel{
                .carousel-recommendations{
                    .carousel-item{
                        img{
                            height: auto;
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    .reviews{
        .container{
            h2{
                text-align: center;
            }

            .content{
                flex-direction: column;

                .revs{
                    width: 100%;
                }

                .videos{
                    width: 100%;
                    margin-top: 50px;

                    .video{
                        width: 100%;
                    }
                }
            }
        }
    }

    .director{
        padding-bottom: 50px;
    }

    .work-with-us{
        padding-bottom: 50px;

        .container{
            .cards{
                flex-direction: column;

                .left{
                    width: 100%;
                }

                .right{
                    width: 100%;
                }
            }
        }
    }

    footer{
        .container{
            .logo-contacts{
                width: 50%;
            }

            .nav-footer{
                width: 50%;
            }

            .time-social{
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;

                .social{
                    margin: 0;
                }
            }

            .connection-copyright{
                .policy{
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width: 576px)
{
    .container
    {
        max-width: 320px;
    }

    header{
        position: inherit;

        .container{
            align-items: center;
        }

        .logo, .phone, .work-schedule{
            width: 100%;
            justify-content: center;
            padding-bottom: 20px;
        }
    }

    .nav{
        width: 100%;
        left: -100%;
        height: 100%
    }

    .showMenu{
        left: 0;
    }

    .maintenance-and-repair{
        padding-top: 0;
        
        .carousel-maintenance{
            top: -5px;
        }

        .descr{
            padding-top: 20px;

            h1{
                font-size: 32px;
            }

            p{
                color: #ac8e74;
            }
        }
    }

    .statistics{
        .container{
            p{
                text-align: center;
            }

            .number{
                text-align: center;
                width: 100%;
                padding-bottom: 20px;
            }
        }
    }

    .services{
        .container{
            .card-services{
                img{
                    height: 200px;
                    object-fit: cover;
                    object-position: center;
                }

                h2{
                    font-size: 28px;
                    left: 0;
                    text-align: center;
                    width: 100%;
                    padding: 10px;
                }
            }

            .nds{
                text-align: center;

                .light{
                    font-size: 28px;
                    top: 10px;
                }

                h2{
                    font-size: 28px;
                    top: 40px;
                    padding: 0;
                }

                p{
                    font-size: 28px;
                    top: 45px;
                }

                .btn{
                    top: 150px;
                }
            }
        }
    }

    .modus-rsk{
        .container{
            .descr{
                h2{
                    text-align: center;
                }
            }

            .cards{
                .card-modus-rsk{
                    text-align: center;
                }
            }
        }
    }

    .recommendations{
        .container{
            .descr{
                h2{
                    font-size: 40px;
                }
            }

            .carousel{
                .carousel-recommendations{
                    .carousel-item{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .reviews{
        .container{
            h2{
                font-size: 40px;
            }

            h3{
                margin-top: 20px;
                text-align: center;
            }
        }
    }

    .work-with-us{
        .container{
            h2{
                font-size: 40px;
            }
        }
    }

    .director{
        padding-bottom: 50px;

        .container{
            .director-card{
                height: 400px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 100%;

                .name{
                    margin-bottom: -5px;
                }

                .post{
                    margin-bottom: -5px;
                }
            }

            .descr{
                padding: 0;

                h2{
                    text-align: center;
                }

                h3{
                    margin-top: 20px;
                    font-size: 24px;
                    text-align: center;
                }

                .contacts{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .mail{
                        margin-top: 20px;
                        margin-left: 0;
                    }
                }

                .social{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    p{
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }

    footer{
        .container{
            .logo-contacts{
                width: 100%;
                align-items: center;
            }

            .nav-footer{
                width: 100%;
                margin-top: 20px;
            }

            .time-social{
                width: 100%;
                flex-direction: column;

                .social{
                    margin-top: 20px;
                }
            }

            .connection-copyright{
                width: 100%;
                margin-top: 20px;

                p{
                    width: 100%;
                }
            }
        }
    }
}