@media(max-width: 1200px)
{
    .container
    {
        max-width: 1024px;
    }

    .maintenance-and-repair{
        padding-top: 150px;
        
        .descr{
            h1{
                font-size: 46px;
            }

            .controls{
                margin-top: 10px;
            }
        }
    }

    .statistics{
        margin-top: 10px;
    }

    .reviews{
        .container{
            .content{
                .revs{
                    img{
                        width: 90%;
                    }
                }
            }
        }
    }

    .director{
        .container{
            .director-card{
                width: 50%;
            }

            .descr{
                .social{
                    margin-top: 20px;
                }
            }
        }
    }

    footer{
        .container{
            .connection-copyright{
                .btn{
                    width: max-content;
                }
            }
        }
    }

    .services{
        .container{
            .card-services{
                img{
                    width: 100%;
                }
            }
        }
    }

    .contacts-section{
        .blocks{
            .phone-map-block{
                .phone-block{
                    .connect{
                        flex-direction: column;
    
                        .social{
                            margin-top: 20px;
                            width: 100%;
                            justify-content: center;
    
                            img{
                                margin-left: 10px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }

    .master{
        img{
            width: 50%;
        }

        .form{
            span{
                width: 120%;
                margin-top: 100px;
            }
        }
    }

    .when-to-adjust{
        .points{
            .point::after{
                width: 170px;
            }
        }
    }

    .price{
        h2{
            padding: 0;
        }
    }
}

@media(max-width: 1024px)
{
    .container
    {
        max-width: 992px;
    }

    .maintenance-and-repair{
        .descr{
            width: 60%;
            h1{
                font-size: 40px;
            }
        }
    }

    .services{
        .container{
            .nds{
                justify-content: space-between;
                .btn{
                    top: 200px;
                    height: max-content;
                }
            }
        }
    }

    footer{
        .container{
            .connection-copyright{
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: space-between;

                p{
                    width: 40%;
                }
            }
        }
    }

    .adjustment-title{
        .title{
            width: 60%;
        }
    }

    .when-to-adjust{
        .points{
            .point::after{
                width: 150px;
            }
        }
    }
}

@media(max-width: 992px)
{
    .container
    {
        max-width: 768px;
    }

    header{
        .container{
            justify-content: space-between;            

            .work-schedule{
                display: none;
            }

            .phone{
                width: 30%;
            }
        }

        .btn__menu{
            display: block;
            height: 50px;
            width: 50px;
            margin-right: auto;
            position: absolute;
            top: 20px;
            left: 10px;
        }
    
        .btn__menu:before, .btn__menu:after, .btn__menu span
        {
            height: 3px;
            position: absolute;
            background:  wheat;
            left: 50%;
        }
    
        .btn__menu span
        {
            width: 50%;    
        }
    
        .btn__menu:before
        {
            content: "";
            width: 50%;
            top: 20px;
        }
    
        .btn__menu:after
        {
            content: "";
            width: 50%;
            top: 30px;
        }
    }

    .nav{
        top: 0;
        left: -350px;
        width: 350px;
        background-color: rgba($color: #362f2c, $alpha: 0.9);
        transition: 0.5s;
        padding-bottom: 50px;

        .btnCloseMenu{
            display: block;
            position: absolute;
            top: 15px;
            right: 25px;
            background: none;
            border: none;
        }

        .btnCloseMenu:before, .btnCloseMenu:after {
            position: absolute;
            content: ' ';
            height: 33px;
            width: 2px;
            background-color: wheat;
            }
            .btnCloseMenu:before {
            transform: rotate(45deg);
            }
            .btnCloseMenu:after {
            transform: rotate(-45deg);
        }

        ul{
            flex-direction: column;
            padding-left: 20px;

            li{
                padding: 10px;
            }
        }

        .work-schedule{
            display: block;
            margin-top: 50px;
        }
    }

    .showMenu{
        left: 0;
    }

    .maintenance-and-repair{
        padding-top: 170px;

        .carousel-maintenance{
            top: 90px;
        }
    }

    .statistics{
        .container{
            p{
                width: 100%;
            }
        }
    }

    .services{
        .container{
            .card-services{
                width: 100%;
                
                h2{
                    font-size: 42px;
                }
            }

            .nds{
                .light{
                    top: 0;
                    margin-top: 20px;
                }

                p{
                    top: 70px;
                }

                h2{
                    top: 60px;
                }

                .btn{
                    top: 150px;
                }
            }
        }
    }

    .reviews{
        .container{
            .content{
                .videos{
                    .video{
                        width: 400px;
                    }
                }
            }
        }
    }

    .director{
        height: auto;

        .container{
            flex-direction: column;
            align-items: center;

            .director-card{
                margin-top: 50px;
            }

            .descr{
                width: 100%;
                margin-top: 50px;

                .social{
                    bottom: 50px;
                }
            }
        }
    }

    .information{
        padding-top: 50px;

        .container{
            .card-information{
                flex-direction: column;

                img{
                    width: 100%;
                }

                .descr{
                    width: 100%;
                    padding: 0;
                }
            }
        }
    }

    footer{
        .container{
            .time-social{
                width: 35%;
            }

            .connection-copyright{
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;

                .policy{
                    width: 20%;
                }
            }
        }
    }

    .head-about-the-company{
        .title{
            h1{
                font-size: 64px;
            }
        }
    }

    .works{
    
        .photo{
    
            .photo-work-card {
                width: 45%;
            }
        }
    
        .videos{
            .video{
                width: 50%;
            }
        }
    }

    .adjustment-title{
        height: 500px;

        .title{
            width: 80%;
        }
    }

    .seo-text{
        margin-top: 210px;
    }

    .master{

        img{
            width: 35%;
            height: 100%;
            margin-top: auto;
        }

        .form{
            width: 65%;

            span{
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
    }

    .when-to-adjust{
        .points{
            .point::after{
                width: 60px;
            }
        }
    }

    .vacancies{
        .btn__tab__switch{
            width: 100%;
        }
    }
}

@media(max-width: 768px)
{
    .container
    {
        max-width: 576px;
    }

    header{
        .logo{
            width: 50px;
            overflow: hidden;
            display: block;
        }

        .container{
            .phone{
                width: 180px;
            }
        }
    }

    .maintenance-and-repair{
        padding-top: 130px;
        
        .descr{
            width: 100%;
            h1{
                font-size: 40px;
            }

            .controls{
                margin-top: 10px;
            }
        }
    }

    .services{
        .container{
            .card-services{
                h2{
                    top: 20px;
                }

                .btn{
                    height: fit-content;
                }
            }

            .window-adjustment, .glazing, .installing-handles{
                .btn{
                    top: 100px;
                }
            }

            .nds{
                .light{
                    margin-top: -10px;
                }

                h2{
                    top: 20px;
                }

                p{
                    top: 20px;
                }

                .btn{
                    top: 100px;
                }
            }
        }
    }

    .modus-rsk{
        .container{
            .descr{
                flex-direction: column;

                h2, p{
                    width: 100%;
                }
            }

            .cards{
                .card-modus-rsk{
                    width: 100%;
                }
            }
        }
    }

    .recommendations{
        .container{
            flex-direction: column;

            .descr, .carousel{
                width: 100%;
            }

            .carousel{
                .carousel-recommendations{
                    .carousel-item{
                        img{
                            height: auto;
                            width: auto;
                        }
                    }
                }
            }
        }
    }

    .reviews{
        .container{
            h2{
                text-align: center;
            }

            .content{
                flex-direction: column;

                .revs{
                    width: 100%;
                }

                .videos{
                    width: 100%;
                    margin-top: 50px;

                    .video{
                        width: 100%;
                    }
                }
            }
        }
    }

    .director{
        padding-bottom: 50px;
    }

    .work-with-us{
        padding-bottom: 50px;

        .container{
            .cards{
                flex-direction: column;

                .left{
                    width: 100%;
                }

                .right{
                    width: 100%;
                }
            }
        }
    }

    footer{
        .container{
            .logo-contacts{
                width: 50%;
            }

            .nav-footer{
                width: 50%;
            }

            .time-social{
                width: 100%;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;

                .social{
                    margin: 0;
                }
            }

            .connection-copyright{
                .policy{
                    width: 100%;
                }
            }
        }
    }

    .head-about-the-company{ 
        padding-top: 100px;

        .container{
            height: 300px;
        }

        .title{ 
            h1{
                font-size: 54px;
            }
            img{
                width: 60%;
            }
        }
    }

    .advantages{
        .kp{
            flex-wrap: wrap;
            justify-content: space-around;

            .kp-block{
                width: 35%;
            }
        }
    }

    .contacts-section{
        .blocks{
            flex-direction: column;

            .phone-map-block{
                width: 100%;

                .phone-block{
                    border-radius: 10px 10px 0 0;
                }

                .map-block{
                    border-radius: 0;
                    height: 280px;

                    img{
                        border-radius: 0;
                        height: 100%;
                    }
                }
            }

            .info-block{
                width: 100%;
                border-radius: 0 0 10px 10px;
            }
        }
    }

    .empty-block{
        display: none;
    }

    .works{
        .videos{
            .video{
                width: 100%;
            }
        }
    }

    .adjustment-title{
        height: 400px;

        .title{
            width: 100%;
        }
    }

    .seo-text{
        p{
            padding: 0;
        }
    }

    .work-us{
        .blocks{
            flex-direction: column;

            .block{
                width: 100%;
                flex-direction: row;
                align-items: center;

                p{
                    padding-left: 50px;
                }
            }
        }
    }

    .master{
        img{
            display: none;
        }

        .form{
            width: 100%;
        }
    }

    .when-to-adjust{
        .points{
            flex-direction: column;

            .point{
                flex-direction: row;
                width: 100%;
                padding-bottom: 20px;

                p{
                    padding-left: 20px;
                }
            }

            .point::after{
                content: none;
            }
        }
    }

    .vacancies{
        padding-top: 100px;
    }
}

@media(max-width: 576px)
{
    .container
    {
        max-width: 100%;
        height: 100%;
    }

    header{
        position: inherit;

        .container{
            align-items: center;

            .phone{
                width: 11px;
                font-size: 0;
                overflow: hidden;
                height: 25px;
                padding:0;
            }
        }

        .logo{
            margin-left: 50px;
        }

        .btn-contact-us{
            width: 50%;
            font-size: 10px;
        }
    }

    .nav{
        width: 100%;
        left: -100%;
        height: 100%;

        .work-schedule{
            position: absolute;
            bottom: 30px;
            left: 50px;
        }
    }

    .showMenu{
        left: 0;
    }

    .maintenance-and-repair{
        padding-top: 0;
        
        .carousel-maintenance{
            top: 0;

            .carousel-item{
                height: 360px;
                overflow: hidden;
                display: flex;
                justify-content: center;
            }

            img{
                height: 360px;
                width: auto;
            }
        }

        .descr{
            padding-top: 20px;

            h1{
                font-size: 28px;
            }

            p{
                color: #ac8e74;
                font-size: 16px;
            }
        }
    }

    .statistics{
        .container{
            p{
                text-align: center;
            }

            .number{
                text-align: center;
                width: 100%;
                padding-bottom: 20px;
            }
        }
    }

    .services{
        .container{
            .card-services{
                img{
                    height: 200px;
                    object-fit: cover;
                    object-position: center;
                }

                h2{
                    font-size: 28px;
                    left: 0;
                    text-align: center;
                    width: 100%;
                    padding: 10px;
                }

                .btn{
                    left: 20%;
                }
            }

            .nds{
                text-align: center;

                .light{
                    font-size: 28px;
                    top: 10px;
                }

                h2{
                    font-size: 28px;
                    top: 40px;
                    padding: 0;
                }

                p{
                    font-size: 28px;
                    top: 45px;
                }

                .btn{
                    top: 150px;
                }
            }
        }
    }

    .modus-rsk{
        .container{
            .descr{
                h2{
                    text-align: center;
                }
            }

            .cards{
                .card-modus-rsk{
                    text-align: center;
                }
            }
        }
    }

    .recommendations{
        .container{
            .descr{
                h2{
                    font-size: 40px;
                }
            }

            .carousel{
                .carousel-recommendations{
                    .carousel-item{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .reviews{
        .container{
            h2{
                font-size: 40px;
            }

            h3{
                margin-top: 20px;
                text-align: center;
            }
        }
    }

    .work-with-us{
        .container{
            h2{
                font-size: 40px;
            }
        }
    }

    .director{
        padding-bottom: 50px;

        .container{
            .director-card{
                height: 400px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                width: 300px;

                .name{
                    margin-bottom: -5px;
                }

                .post{
                    margin-bottom: -5px;
                }
            }

            .descr{
                padding: 0;

                h2{
                    text-align: center;
                }

                h3{
                    margin-top: 20px;
                    font-size: 24px;
                    text-align: center;
                }

                .contacts{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    .mail{
                        margin-top: 20px;
                        margin-left: 0;
                    }
                }

                .social{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;

                    p{
                        width: 100%;
                        text-align: center;
                    }
                }
            }
        }
    }

    footer{
        .container{
            .logo-contacts{
                width: 100%;
                align-items: center;
            }

            .nav-footer{
                width: 100%;
                margin-top: 20px;

                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }

            .time-social{
                width: 100%;
                flex-direction: column;

                .social{
                    margin-top: 20px;
                }
            }

            .connection-copyright{
                width: 100%;
                margin-top: 20px;
                align-items: center;
                flex-direction: column;

                p{
                    width: 100%;
                }
            }
        }
    }

    .head-about-the-company{
        padding: 20px 0;
        .container{
            height: 100px;
        }

        .title{
            h1{
                font-size: 32px;
            }

            img{
                margin-left: 10px;
            }
        }
    }

    .mission{
        .block{
            width: 90%;

            h2{
                text-align: center;
            }
        }
    }

    .advantages{
        .kp{
            .kp-block{
                width: 55%;
                margin-bottom: 30px;
            }
        }
    }

    .contacts-section{
        padding-top: 20px;

        .blocks{
            .phone-map-block{
                .phone-block{
                    padding: 25px;

                    a{
                        font-size: 20px;
                    }

                    a:before{
                        top: 5px;
                    }
                }

                .map-block{
                    height: 150px;
                }
            }
        }
    }

    .title-works{
        height: 300px;
        padding: 0;

        .statistics{
            margin-top: 0;
        }
    }

    .works{
        padding-top: 550px;

        .photo{
            .photo-work-card{
                width: 100%;
            }
        }

        .videos{
            .video{
                height: 200px;
            }
        }
    }

    .adjustment-title{
        padding-top: 0px;

        h1{
            font-size: 38px;
        }

        .title{
            .btn{
                width: max-content;
            }
        }
    }

    .seo-text{
        padding: 10px 0;
        margin-top: 550px;
    }

    .work-us{
        h2{
            font-size: 38px;
        }

        .blocks{
            .block{
                flex-direction: column;

                p{
                    padding: 0;
                }
            }
        }
    }

    .master{
        .form{
            padding: 0;

            h3{
                font-size: 32px;
            }

            h4{
                font-size: 28px;
            }

            span{
                width: 80%;
            }
        }
    }

    .when-to-adjust{
        h2{
            font-size: 38px;
        }

        .points{
            .point{
                p{
                    text-align: left;
                }
            }
        }
    }

    .price{
        h2{
            font-size: 38px;
        }
    }

    .vacancies{
        padding-top: 20px;
    }
}