body
{
    margin: 0;
    color: #000;
    background: #fff;
    font-family: OpenSans;
}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input, select
{
    outline: none;
}

button, a
{
    cursor: pointer;
    font-family: OpenSans;
}

.btn-contact-us{
    background: none;
    text-transform: uppercase;
    color: white;
    border: 1px solid #ac8e74;
    border-radius: 25px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 15px;
}

.btn{
    text-transform: uppercase;
    background-color: #ac8e74;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 10px 50px;
    font-weight: bold;
    font-size: 15px;
    margin-top: 20px;
}

.work-schedule{
    display: flex;
    flex-direction: column;
    position: relative;

    span{
        display: block;
        margin: 0;
        margin-left: 30px;
        font-size: 18px;
    }

    .time{
        font-weight: bold;
    }
}

.work-schedule::before{
    content: '';
    width: 18px;
    height: 18px;
    background-image: url(../images/icons/time-icon.png);
    position: absolute;
    top: 15px;
    background-size: cover;
}

header{
    background-color: #2d2825;
    color: white;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .logo{
        display: flex;

        img{
            height: 100%;
        }
    }

    .phone{
        position: relative;
        padding-left: 30px;
        font-size: 18px;
        font-weight: bold;
    }

    .phone::before{
        content: '';
        width: 11px;
        height: 20px;
        background-image: url(../images/icons/phone-icon.png);
        background-size: contain;
        position: absolute;
        left: 0;
        top: 3px;
    }
}

.nav{
    background-color: rgba($color: #362f2c, $alpha: 0.6);
    position: fixed;
    width: 100%;
    top: 96px;
    z-index: 10;

    .btnCloseMenu{
        display: none;
    }

    ul{
        display: flex;
        justify-content: space-between;
        color: white;
        padding: 10px 0;
        margin: 0;
        
        li{
            display: inline;
        }
    }

    .work-schedule{
        display: none;
        color: white;
    }
}

.maintenance-and-repair{
    position: relative;
    padding-top: 200px;

    .carousel-maintenance{
        z-index: -100;
        position: absolute;
        top: 0;

        .owl-stage-outer{
            height: 840px;
        }

        img{
            width: 100%;
        }
    }

    .descr{
        width: 40%;
        color: white;

        h1{
            font-family: Intro;
            text-transform: uppercase;
            font-size: 52px;
            margin: 0;
        }

        p{
            margin: 0;
            font-size: 18px;
        }

        .controls{
            margin-top: 100px;
            display: flex;

            .btn-carousel-maintenance{
                background: none;
                border: none;
                background-image: url(../images/icons/CarouselMaintenanceControl.png);
                background-size: cover;
                width: 60px;
                height: 60px;
            }

            .btn-prev{
                transform: rotate(180deg);
            }

            .owl-dots-custom{
                display: flex;
                padding: 0 15px;
                align-items: center;

                li{
                    display: inline-block;
                    cursor: pointer;
                    margin: 0 5px;
                    width: 5px;
                    height: 5px;
                    background-color: #dddcdc;
                    border-radius: 25px;
                    transition: 0.5s;
                }

                li.active{
                    background-color: #ac8e74;
                    width: 10px;
                    height: 10px;
                }
            }
        }
    }
}

.statistics{
    background-color: #2d2825;
    margin-top: 150px;
    padding: 20px 0;

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        p{
            color: white;
            font-family: Intro;
            font-weight: bold;
            font-size: 28px;

            span{
                color: #ac8e74;
            }
        }

        .number{
            display: flex;
            flex-direction: column;

            p{
                margin: 0;
            }

            .count{
                color: #ac8e74;
                font-size: 37px;
                font-weight: 700;
            }
        }
    }
}

.services{
    background-color: #3a3330;

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-bottom: 100px;

        .card-services{
            position: relative;
            margin-top: 25px;

            img{
                top: 0;
            }

            h2{
                position: absolute;
                top: 50px;
                margin: 0;
                left: 50px;
                font-size: 34px;
                color: #231f20;
                font-family: Intro;

            }

            .btn{
                margin: 0;
                position: absolute;
                bottom: 50px;
                left: 50px;
            }
        }

        .unlock{
            width: 55%;
        }

        .replacement{
            width: 40%;

            h2{
                width: 200px;
            }
        }

        .repair{
            width: 55%;
        }

        .installation{
            width: 40%;
        }

        .glass-installation{
            width: 40%;
        }

        .glass-replacement{
            width: 55%;
        }

        .locks, .profile, .tides{
            width: 30%;

            h2{
                width: 200px;
            }
        }

        .nds{
            display: flex;
            flex-direction: column;
            align-items: center;

            .light{
                font-weight: normal;
                font-size: 32px;
                top: 20px;
            }

            p{
                position: absolute;
                font-size: 33px;
                font-weight: 800;
                color: #231f20;
                top: 110px;
            }

            h2{
                left: auto;
                font-size: 43px;
                top: 95px;
                font-weight: 800;
            }

            .btn{
                left: auto;
            }
        }
    }
}

.modus-rsk{
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        color: #231f20;
        padding-bottom: 100px;

        .descr{
            display: flex;
            align-items: center;
            justify-content: space-between;

            h2{
                font-family: Intro;
                width: 35%;
                font-size: 47px;
            }

            p{
                width: 65%;
                font-size: 18px;
            }
        }

        .cards{
            display: flex;
            flex-direction: column;
            align-items: center;

            .card-modus-rsk{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 55%;
                margin-top: 100px;

                h3{
                    font-family: Intro;
                    font-size: 43px;
                    font-weight: 800;
                    margin: 0;
                    margin-top: 20px;
                }

                p{
                    font-size: 24px;
                    margin: 0;
                    text-align: center;
                    margin-top: 10px;
                    font-weight: 500;
                }
            }
        }
    }
}

.recommendations{
    background-color: #3a3330;
    color: white;

    .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 100px;
        padding-top: 50px;

        .descr{
            width: 50%;
            display: flex;
            flex-direction: column;

            h2{
                font-family: Intro;
                font-size: 47px;
                font-weight: bold;
                margin-bottom: 0;
            }

            p{
                font-size: 18px;
            }
        }

        .carousel{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .carousel-recommendations{
                .carousel-item{
                    height:500px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 80%;
                        width: auto;
                    }
                }
            }

            .btns{
                display: flex;

                .btn-carousel-recommendations{
                    background: none;
                    border: none;
                    background-image: url(../images/icons/CarouselMaintenanceControl.png);
                    background-size: cover;
                    width: 50px;
                    height: 50px;
                }
    
                .btn-prev{
                    transform: rotate(180deg);
                }
    
                .owl-dots-custom-recommendations{
                    display: flex;
                    padding: 0 15px;
                    align-items: center;
    
                    li{
                        display: inline-block;
                        cursor: pointer;
                        margin: 0 5px;
                        width: 5px;
                        height: 5px;
                        background-color: #dddcdc;
                        border-radius: 25px;
                        transition: 0.5s;
                    }
    
                    li.active{
                        background-color: #ac8e74;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
    }
}

.reviews{
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #231f20;
        padding-top: 100px;
        padding-bottom: 100px;

        h2{
            font-family: Intro;
            font-size: 47px;
            margin: 0;
            font-weight: 800;
        }

        h3{
            font-size: 24px;
            margin: 0;
            font-weight: 400;
        }

        .content{
            display: flex;
            padding-top: 50px;
            justify-content: space-between;
            width: 100%;

            .revs{
                width: 50%;
            }

            .videos{
                width: 50%;
                display: flex;
                flex-direction: column;
                align-items: center;

                .video{
                    width: 500px;
                    height: 300px;
                    background-color: #2d2825;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.work-with-us{
    background-color: #3a3330;
    color: white;

    .container{
        padding-top: 80px;

        h2{
            font-family: Intro;
            font-size: 47px;
            text-align: center;
            margin-bottom: 80px;
        }

        .cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .card{
                padding-bottom: 100px;

                h3{
                    font-family: Intro;
                    font-size: 36px;
                    margin-bottom: 0;
                    margin-top: 20px;
                }

                p{
                    font-size: 18px;
                    margin-bottom: 50px;
                    font-weight: 300;
                }

                img{
                    width: 100%;
                }

                .btn{
                    margin-top: 50px;
                }
            }

            .descr{
                font-size: 18px;
                color: #d1ac8c;
                margin-top: 0;
            }

            .left{
                display: flex;
                flex-direction: column;
                width: 48%;
            }

            .right{
                display: flex;
                flex-direction: column;
                width: 48%;
            }
        }
    }
}

.director{
    background-image: url(../images/DirectorBackground.png);
    height: 600px;
    background-size: cover;

    .container{
        display: flex;
        color: white;
        align-items: center;

        .director-card{
            background-image: url(../images/Director.png);
            margin-top: 65px;
            width: 35%;
            height: 600px;
            position: relative;
            display: flex;
            align-items: center;
            background-size: cover;
            background-position: center;
            border-radius: 15px;
            flex-direction: column;
            justify-content: flex-end;
            padding-bottom: 5px;

            p{
                font-family: Intro;
                margin: 0;
            }

            .name{
                font-size: 24px;
                font-weight: bold;
            }

            .post{
                font-size: 20px;
                font-weight: bold;
            }
        }

        .descr{
            padding-left: 50px;
            width: 65%;

            h2{
                font-family: Intro;
                margin: 0;
                font-size: 36px;
                font-weight: 800;
            }

            h3{
                font-family: Intro;
                margin: 0;
                font-size: 24px;
                font-weight: bold;
            }

            p{
                font-size: 18px;
            }

            .contacts{
                margin-top: 50px;

                .mail{
                    margin-left: 50px;
                    color: #a4e2fb;
                    text-decoration: underline;
                }
            }

            .social{
                margin-top: 50px;
                display: flex;
                align-items: center;

                p{
                    font-size: 16px;
                }

                a{
                    width: 34px;
                    height: 34px;
                    display: flex;
                    margin-left: 10px;
                }

                .facebook:before{
                    width: 34px;
                    height: 34px;
                    content: '';
                    background-image: url(../images/icons/FacebookIcon.png);
                    background-size: cover;
                }

                .instagram::before{
                    width: 34px;
                    height: 34px;
                    content: '';
                    background-image: url(../images/icons/InstagramIcon.png);
                    background-size: cover;
                }

                .vk::before{
                    width: 34px;
                    height: 34px;
                    content: '';
                    background-image: url(../images/icons/vkIcon.png);
                    background-size: cover;
                }
            }
        }
    }
}

.information{
    background-color: #3a3330;
    color: white;
    padding-top: 150px;
    padding-bottom: 100px;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{
        font-family: Intro;
        font-size: 47px;
        margin: 0;
        text-align: center;
        margin-bottom: 50px;
    }

    .separator{
        width: 90%;
        border-bottom: 1px solid #574f4b;
        padding-top: 35px;
    }

    .card-information{
        display: flex;
        margin-top: 35px;
        justify-content: flex-end;

        img{
            width: 30%;
        }

        .descr{
            width: 70%;
            padding-left: 50px;

            h3{
                font-size: 18px;
                font-weight: 400;
            }

            p{
                font-size: 18px;
                font-weight: 100;
                color: #9d9390;
            }

            .date{
                font-weight: 400;
                margin-top: 70px;
                color: white;
                margin-bottom: 0;
                font-size: 15px;
            }
        }
    }

    .btn{
        margin-top: 50px;
    }
}

footer{
    background-color: #2d2825;
    color: white;
    padding: 50px 0;

    .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;

        .logo-contacts{
            display: flex;
            flex-direction: column;
            width: 25%;

            .phone{
                font-size: 18px;
                display: flex;
                align-items: center;
                margin-top: 30px;
            }

            .phone::before{
                content: "";
                width: 20px;
                height: 20px;
                background-image: url(../images/icons/PhoneIcon.png);
                background-repeat: no-repeat;
                padding-right: 30px;
            }

            .mail{
                font-size: 18px;
                display: flex;
                align-items: flex-end;
                margin-top: 30px;
                color: #a4e2fb;
                text-decoration: underline;
            }

            .mail::before{
                content: "";
                width: 20px;
                height: 20px;
                background-image: url(../images/icons/MailIcon.png);
                background-repeat: no-repeat;
                padding-right: 30px;
            }
        }

        .nav-footer{
            width: 25%;

            ul{
                margin: 0;

                li{
                    list-style: none;
                    padding: 5px;
                    font-size: 14px;
                }
            }
        }

        .time-social{
            display: flex;
            flex-direction: column;
            width: 25%;

            .time{
                display: flex;
                flex-direction: column;
                position: relative;
                padding-left: 30px;
                font-size: 14px;

                .time-text{
                    font-weight: bold;
                }
            }

            .time::before{
                content: "";
                width: 20px;
                height: 20px;
                background-image: url(../images/icons/TimeIcon.png);
                background-repeat: no-repeat;
                position: absolute;
                left: 0;
                top: 15px;
            }

            .social{
                display: flex;
                margin-top: 20px;

                a{
                    display: flex;
                    margin-right: 10px;
                }

                .facebook:before{
                    width: 34px;
                    height: 34px;
                    content: '';
                    background-image: url(../images/icons/FacebookIcon.png);
                    background-size: cover;
                }

                .instagram::before{
                    width: 34px;
                    height: 34px;
                    content: '';
                    background-image: url(../images/icons/InstagramIcon.png);
                    background-size: cover;
                }

                .vk::before{
                    width: 34px;
                    height: 34px;
                    content: '';
                    background-image: url(../images/icons/vkIcon.png);
                    background-size: cover;
                }
            }
        }

        .connection-copyright{
            display: flex;
            flex-direction: column;
            width: 25%;
            padding-left: 20px;

            .btn{
                margin: 0;
                width: fit-content;
                background: none;
                border: 1px solid #ac8e74;
                font-size: 13px;
            }

            p{
                width: 90%;
                font-size: 12px;
                margin-top: 20px;
            }

            .policy{
                font-size: 13px;
                font-weight: bold;
            }
        }
    }
}

.head-about-the-company{
    padding-top: 150px;
    background: url(../images/BackgroundAboutTheCompany.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    .container{
        display: flex;
        align-items: center;
        height: 500px;
        flex-direction: column;
        align-items: flex-start;
    }

    .title{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        margin-top: 50px;

        h1{
            font-family: Intro;
            font-size: 72px;
            text-transform: uppercase;
            color: white;
            margin: 0;
        }

        img{
            margin-left: 40px;
            height: fit-content;
        }
    }
}

.mission{
    background: #3a3330;

    .container{
        padding-top: 100px;
    }

    .block{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border: 1px solid #d1ac8c;
        border-radius: 10px;
        width: 600px;
        padding: 30px 100px;
        margin-left: auto;
        margin-right: auto;

        h2{
            font-size: 37px;
            color: white;
            font-family: Intro;
        }

        p{
            color: #d1ac8c;
            font-size: 18px;
            text-align: center;
            margin-top: 0;
        }
    }
}

.advantages{
    background: #3a3330;
    padding-top: 70px;

    .container{
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    h2{
        color: white;
        font-family: Intro;
        font-size: 37px;
    }

    .kp{
        display: flex;
        justify-content: space-around;
        padding-top: 70px;

        .kp-block{
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            p{
                text-align: center;
                color: white;
                font-size: 16px;
            }
        }
    }
}

.contacts-section{
    background: #3a3330;
    padding-top: 140px;
    color: white;
    padding-bottom: 50px;

    h1{
        font-size: 47px;
        font-family: Intro;
        text-transform: uppercase;
        text-align: center;
        margin-top: 100px;
    }

    .blocks{
        display: flex;

        .phone-map-block{
            display: flex;
            flex-direction: column;
            width: 50%;

            .phone-block{
                background: #2e2826;
                padding: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 10px 0 0 0;
                height: 50%;
                
                a{
                    font-size: 26px;
                    position: relative;
                    padding-left: 30px;
                    font-weight: 600;
                }

                a::before{
                    content: '';
                    width: 11px;
                    height: 20px;
                    background-image: url(../images/icons/phone-icon.png);
                    background-size: contain;
                    position: absolute;
                    left: 0;
                    top: 8px;
                }

                p{
                    font-size: 16px;
                    color: #d1ac8c;
                }

                .connect{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;

                    .social{
                        display: flex;
                        justify-content: space-between;

                        img{
                            padding: 15px;
                            border: 1px solid rgba($color: #ffffff, $alpha: 0.3);
                            border-radius: 50px;
                            margin-left: 20px;
                        }
                    }
                }
            }

            .map-block{
                border-radius: 0 0 0 10px;
                height: 100%;
            }
        }

        .info-block{
            display: flex;
            flex-direction: column;
            background: white;
            color: black;
            padding: 30px;
            width: 50%;
            font-size: 16px;
            border-radius: 0 10px 10px 0;

            .color{
                color: #ac8e74;
            }

            p{
                margin: 0;
            }

            .contacts-info, .time, .mails{
                margin-top: 30px;

                p{
                    margin-top: 10px;
                }

                .engineer{
                    margin-top: 30px;
                }
            }
        }
    }
}

.empty-block{
    height: 150px;
    background: #3a3330;
}

.title-works{
    height: 500px;
    padding-top: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .container{
        display: flex;
        height: 300px;
        flex-direction: column;
    }

    h1{
        color: white;
        text-transform: uppercase;
        font-size: 47px;
        font-family: Intro;
        margin-top: auto;
        margin-bottom: auto;

    }
    
    .statistics{
        margin-top: 45px;

        .container{
            height: auto;
        }
    }

}

.works{
    padding-top: 170px;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btns{
        display: flex;

        button{
            background: white;
            color: black;
            border: 2px solid black;
            font-size: 20px;
            padding: 2px 20px;
            font-weight: 500;
            width: 100px;
            transition: 0.5s;
        }

        .active{
            border: none;
            background: #ac8e74;
            color: white;
        }
    }

    .photo{
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
        display: none;
        padding-bottom: 100px;

        .photo-work-card {
            width: 30%;
            margin-bottom: 50px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);

            .descr{
                padding: 20px;
            }
            
            img{
                width: 100%;
            }

            h3{
                font-size: 19px;
                font-weight: 700;
                margin: 0;
            }

            p{
                font-size: 16px;
                margin-top: 10px;
            }

            .btn{
                width: fit-content;
            }
        }
    }

    .videos{
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 50px;
        display: none;
        padding-bottom: 100px;

        .video{
            width: 50%;
            height: 400px;
            padding: 5px;
        }
    }

    .active{
        display: flex;
    }
}

.adjustment-title{
    height: 650px;
    padding-top: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    .statistics{
        margin-top: 0;
    }

    .container{
        display: flex;
        height: 100%;
        flex-direction: column;
    }

    .title{
        margin-top: auto;
        margin-bottom: auto;
        width: 50%;

        .btn{
            width: fit-content;
        }
    }

    h1{
        font-size: 47px;
        font-family: Intro;
        text-transform: uppercase;
        margin-bottom: 0;
    }

    p{
        font-size: 18px;
    }
}

.seo-text{
    margin-top: 130px;
    background-image: url(../images/BackgroundSEOText.jpg);
    color: white;    
    padding: 20px 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    p{
        font-size: 18px;
        text-align: center;
        padding: 20px 200px;
    }
}

.work-us{
    color: white;
    background: #3a3330;
    padding-top: 100px;
    padding-bottom: 100px;

    h2{
        font-size: 47px;
        font-family: Intro;
        text-align: center;
        margin: 0;
    }

    .blocks{
        display: flex;
        justify-content: space-between;
        margin-top: 100px;

        .block{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 30%;
            justify-content: flex-start;

            p{
                font-size: 18px;
            }

            img{
                height: 75px;
            }
        }
    }
}

.master{
    padding-top: 50px;
    color: #3a3330;

    .container{
        display: flex;
        justify-content: space-around;
    }

    img{
        width: 40%;
    }

    .form{
        display: flex;
        flex-direction: column;
        padding: 50px;
        width: 50%;
        padding-bottom: 0;

        h4{
            font-size: 38px;
            text-transform: uppercase;
            margin: 0;
            font-family: Intro;
        }

        h3{
            font-size: 42px;
            text-transform: uppercase;
            margin: 0;
            font-family: Intro;
        }

        p{
            font-size: 18px;
            margin: 0;
        }

        .inputs{
            margin-top: 50px;

            p{
                font-size: 20px;
                font-weight: 600;
                width: 70%;
                margin-bottom: 20px;
                font-family: Intro;
            }

            input{
                border: none;
                border-bottom: 2px solid rgba(0, 0, 0, 0.3);
                padding: 5px;
                font-size: 18px;
                width: 40%;
            }

            .name{
                margin-right: 40px;
            }

            .btn{
                width: fit-content;
            }
        }

        span{
            font-size: 13px;
            margin-top: 160px;

            a{
                text-decoration: underline;
            }
        }
    }
}

.when-to-adjust {
    background: #3a3330;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;

    h2{
        font-size: 47px;
        font-family: Intro;
        text-align: center;
        margin: 0;
    }

    .points{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;

        .point{
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            p{
                text-align: center;
                font-size: 16px;
            }
        }

        .point::after{
            content: '';
            width: 240px;
            border-top: 1px solid #ac8e74;
            position: absolute;
            top: 25px;
            left: 150px;
        }

        .point:last-child:after{
            content: none;
        }
    }
}

.price{
    background: #3a3330;
    padding-bottom: 50px;
    color: white;

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2{
        font-size: 47px;
        font-family: Intro;
        text-align: center;
        margin: 0;
        padding: 0 250px;
    }

    table{
        margin-top: 50px;
        border-collapse: collapse;
        width: 100%;

        tr{
            td{
                font-size: 18px;
                padding: 10px;
                border: 1px solid #ac8e74;
            }
        }
    }
}

.vacancies{
    padding-top: 200px;
    background: #3a3330;
    color: white;

    h1{
        font-size: 47px;
        font-family: Intro;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 50px;
    }

    .btn__switch__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .btn__tab__switch{
        width: 80%;
        background: #2d2825;
        color: white;
        border: none;
        padding: 20px;
        font-size: 18px;
        border-bottom: 1px solid white;
        text-align: left;
        position: relative;
        padding-left: 70px;
        transition: 0.5s;
    }

    .btn__tab__switch:last-child{
        border: none;
    }

    .btn__tab__switch::before{
        content: '';
        width: 30px;
        height: 30px;
        background-image: url(../images/icons/VacanciseIcon.png);
        position: absolute;
        background-size: contain;
        left: 0;
        background-repeat: no-repeat;
        margin-left: 20px;
        transition: 0.5s;
    }

    .btn__tab__switch.active::before{
        background-image: url(../images/icons/VacanciseIconActive.png);
    }

    .btn__tab__switch.active{
        color: #9b8069;
    }

    .subtitle.center.tab__title{
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        margin-top: 50px;
    }

    .cke__wrapper{
        h2{
            font-size: 18px;
            font-weight: 600;
            margin-top: 50px;
        }

        ul{
            margin: 0;
            li{
                font-size: 17px;
                font-weight: 300;
                padding-bottom: 30px;
                color: #ac8e74;

                span{
                    color: white;
                }
            }
        }
    }
}

.bread-crumbs{
    margin-top: 50px;

    p{
        font-size: 13px;
        color: white;
        margin: 0;

        span{
            color: #ac8e74;
        }
    }
}

.iformation-bread-crumbs{
    padding-top: 150px;
    background: #3a3330;
}

@import 'responce';